{
  "db": {
    "ip": "127.0.0.1",
    "port": 3306,
    "userName": "amir",
    "password": "mirzaei",
    "dbName": "sample"
  },
  "web": {
    "bindingIpAddress": "0.0.0.0",
    "port": 8071,
    "readTimeOutInSec": 7,
    "idleTimeoutInSec": 10,
    "writeTimeoutInSec": 20,
    "readHeaderTimeoutInSec": 1
  }
}